h1 {
	text-align: center;
}

table {
	margin: 10px auto;

}

td{
	border: solid black 1px;
	height: 30px;
	width: 30px;
}

.input_container {
	display: inline-flex;
}

.input_container > div {
	margin : 10px;
}